@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root{
    --DarkBlue: hsl(216, 53%, 9%);
    --DarkBlue2: hsl(219, 30%, 18%);
    --cyan: hsl(176, 68%, 64%);
    --white: hsl(0, 0%, 100%);
    --blue: hsl(198, 60%, 50%);
    --DarkBlue3: hsl(217, 28%, 15%);
    --lightred: hsl(0, 100%, 63%);
    --testimonialblue:hsl(219, 30%, 18%);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;

}

body{
    background: hsl(218, 28%, 13%);
    color: #fff;
}


.wrapper{
    width: 80%;
    margin: 40px auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.header__logo{
    width: 80px;
    height: auto;
}

.header__links{
    display: flex;
}

.header__links a{
    display: flex;
    text-decoration: none;
    color: #fff;
}

.header__links li{
    list-style-type: none;
    margin: 0 9px;
}

.header__item{
    font-size: .7rem;
}

.hero-top{
    text-align: center;
}

.hero-top__image{
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: 50px auto;
}

.hero-top__headline{
    font-size: 1.5rem;
    line-height: 2.3rem;
    max-width: 500px;
    margin: 0 auto;
}

.hero-top__description{
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin: 20px auto;
    max-width: 380px;
}

.hero-top__cta{
    padding: 15px 90px;
    border: 0;
    background: linear-gradient(-25deg,var(--blue),var(--cyan));
    color: var(--white);
    font-weight: 700;
    font-size: .8rem;
    border-radius: 50px;
}

.service__group{
    margin:40px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.service__group .card{
    margin: 40px 0;
}

.service__group__image{
    width: auto;
    height: 70px;
    margin: 20px auto;
}

.service__group__headline{
    font-size: 1.2rem;
    margin: 20px;
}

.service__group-description{
    line-height: 1.6rem;
}

.help{
    display: flex;
    flex-direction: column;
}

.help__image{
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: 50px auto;
}

.help__headline{
    font-size: 1rem;
    margin: 20px auto;
    font-weight: 700;
}

.help__description{
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.4rem;
    margin: 15px auto;
}

.help__description__link {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--cyan);
    padding-bottom: 4px;
    width: 150px;
}

.help__description__link::after {
    content: url(../images/icon-arrow.svg);
    position: relative;
    top: 5px;
    margin-left: 5px;
}

.help__description--active{
    font-size: .8rem;
    color: var(--cyan);
    word-spacing: .2rem;
    text-decoration: none;
}

.testimonial{
    margin: 160px auto;
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
}

.card--one{
    position: relative;
}

.testimonial__image--quote{
    position: absolute;
    top: -15px;
    left: 10px;
}


.testimonial__card{
    width: 280px;
    background: var(--testimonialblue);
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
}

.testimonial__description{
    font-size: .65rem;
    line-height: 1.3rem;
}

.testimonial__image{
    width: auto;
    height: 25px;
    border-radius: 50px;
    margin-right: 10px;
}

.testimonial__author{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonial__profile--headline{
    font-size: .6rem;
    font-weight: 700;
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.testimonial__profile--description{
    font-size: .5rem;
    font-weight: 400;
}

.signup{
    background: var(--DarkBlue3);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    box-shadow: 2px 4px 13px -4px rgba(0, 0, 0, 0.5);   
}

.signup__headline{
    margin: 20px auto;
}

.signup__description{
    font-size: .8rem;
    line-height: 1.3rem;
    margin: 20px auto;
}

.signup__input{
    padding: 15px 20px;
    border-radius: 50px;
    font-size: .5rem;
    border: 0;
    height: 45px;
    width: 100%;
    margin: 10px auto;
}

.signup__cta{
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(-25deg,var(--blue),var(--cyan));
    color: var(--white);
    font-size: .8rem;
    font-weight:700;
    border: 0;
    width: 100%;
    height: 45px;
    margin: 10px auto;
}

.footer{
    margin: 50px auto;
}

.footer__logo{
    width: 130px;
    margin: 30px auto;
}

.footer__location--wrapper{
    display: flex;
}

.footer__location--description{
    font-size: .9rem;
    line-height: 1.4rem;
    margin-left: 20px;
}

.footer__tel--wrapper{
    display: flex;
    margin: 20px auto;
}

.footer__tel{  
    font-size: .9rem;
    margin-left: 20px;
}  

.footer__email--wrapper{
    display: flex;
}

.footer__email{
    font-size: .9rem;
    margin-left: 20px;
} 

.footer__profile{
    margin: 70px auto 50px;
}

.footer__profile--links li{
    list-style-type: none;
    margin: 20px auto;
}

.footer__profile--links li a{
    color: var(--white);
    text-decoration: none;
    font-size: .9rem;
}

.footer__about--links li{
    list-style-type: none;
    margin: 20px auto;
}

.footer__about--links li a{
    color: var(--white);
    text-decoration: none;
    font-size: .9rem;
}

.social__links{
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: .7rem;
    text-align: center;
}

.social__links .fab{
    margin: 10px;
    border-radius: 50px;
    border: 1px solid var(--white);
    padding: 9px 11px;
    transition: 250ms;
}

/* style twitter icon separately */
.fab.fa-twitter{
    padding: 9px;

}

.social__links .fab:hover{
    background: linear-gradient(var(--blue), var(--cyan));
    border: 0;
}


@media screen and (min-width: 900px){

    .wrapper{
        width: 85%;
        margin: 40px auto;
    }

    .hero-top__description{
        font-size: .8rem;
        line-height: 1.3rem;
    }

    .help{
        flex-direction: row;
        align-items: center;
    }

    .help__content{
        width: 450px;
        margin-left: 20px;
    }

    .help__headline{
        font-size: 1.5rem;
        margin: 20px 0;
        max-width: 250px;
    }

    .testimonial__card{
        width: 320px;
        background: var(--testimonialblue);
        margin: 30px auto;
    }

    .testimonial__image--quote{
        width: 40px;
        top: -22px;
        left: -6px ;
        z-index: -2;
    }

    .testimonial__description{
        font-size: .8rem;
    }

    .service__group{
        margin: 80px auto;
        flex-direction: row;
        flex-wrap: wrap;
        width: 800px;
        justify-content: space-around;
    }

    .service__group .card{
        margin: 40px 20px;
        width: 350px;
    }

    .service__group-description{
        font-size: .8rem;
        line-height: 1.3rem;
    }

    .signup{
        padding: 20px 50px;  
    }

    .signup__headline{
        font-size: 1.5rem;
    }

    .signup__description{
        margin: 20px 50px;
    }
    
    .signup__group{
        display: flex;
        justify-content: space-between;
    }

    .signup__input{
        width: 100%;
        margin: 10px 10px;
    }
    
    .signup__cta{
        width: 40%;
        margin: 10px 10px;
    }

    .footer__content{
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
    }

    .footer__tel--wrapper{
        margin: 0 auto 20px;
    }

    .footer__location--description{
        font-size: .8rem;
        line-height: 1.3rem;
        max-width: 270px;
    }

    .footer__profile{
        margin: 0;
    }

    .footer__profile--links li{
        margin: 0 auto 20px;
    }

    .footer__about--links li{
        margin: 0 auto 20px;
    }
    
    .social__links{
        margin-top: 0;
        font-size: .7rem;
    }

}





